*{
    margin: 0;
    padding: 0;
}
body, html{
    font-family: 'Work Sans', sans-serif;
}
#header{
    background-color: #ff4f81;
    color: white;
}
.header-left i{
    margin-left: 5px;
}
.header-right i{
    padding: 8px 10px;
    background-color: #333;
    margin-left: 1px;
    border: 1px solid transparent;
    transition: all .5s;
    font-size: 13px;
}
.header-right i:hover{
    background-color: #ff4f81;
    border: 1px solid white;
}
.navbar-brand--logo p{
    color: #ff4f81;
    font-size: 0.8em;
    margin-top: -5px;
}
.navbar-nav--menu .nav-item .nav-link{
    font-weight: bold;
    color: #282828;
    transition: all 0.5s;
}
.navbar-nav--menu .nav-item:hover>.nav-link{
    color: #ff4f81;
}
.nav-item__line{
    width: 0%;
    height: 2px;
    background-color: #ff4f81;
    transition: all 0.5s;
}
.navbar-nav--menu .nav-item:hover>.nav-item__line{
    width: 100%;
    height: 2px;
    background-color: #ff4f81;
}
.navbar-nav--menu .nav-item{
    margin-left: 20px;
}
.navbar-nav--menu .active .nav-link{
    color: #ff4f81 !important;
}
.navbar-nav--menu .active .nav-item__line{
    width: 100%;
}


/* CAROUSEL*/
.carousel-indicators--config{
    bottom: 20%;
}
.carousel-caption--config{
    bottom: 30%;
}
.carousel-caption--config h1{
    font-weight: normal;
    font-size: 3.3em;
    margin-bottom: 0px;
}

.carousel-caption--config p{
    font-size: 0.9em;
    letter-spacing: 4px;
    line-height: 1.8em;
}
.carousel-indicators--config li{
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
}
.btn--readmore{
    border-radius: 0px;
    margin-top: 10px;
    transition: all .5s;
}
.btn--readmore i{
    font-size: 10px;
}
.btn--readmore:hover{
    background-color: #ff4f81;
    color: white;
}
.modal-header--carousel h1{
    color: #ff4f81;
    font-weight: bold;
    font-size: 29px;
}
.modal-body--carousel .modal-text{
    padding: 20px 0;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.8em;
    color: #777;
}
.img-fluid{
    width: 100%;
    height: auto;
}

/* WELCOME */
.welcome-section{
    padding: 3rem 15px;
}
.welcome-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.welcome-title span{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
    color: black;
}
.welcome-title--line{
    width: 70px;
    height: 2px;
    background-color: black;
}
.welcome-title p{
    font-size: 15px;
    color: #999;
    line-height: 1.8em;
    padding: 0 10%;
}
.education-course i{
    font-size: 30px;
}
.education-course h2{
    color: #ff4f81;
    font-weight: 600;
    margin: 15px 0;
    font-size: 1.7rem;
}
.education-course h3{
    font-size: 0.9em;
    font-weight: bold;
}
.education-course p{
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
}

/* OUR START */
.star-section{
    min-height: 400px;
    background-image: url('../images/banner2.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 15px;
}
.star-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.star-title span{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
    color: white;
}
.start-detail{
    color: white;
    text-align: center;
}
.start-detail i{
    font-size: 40px;
}
.start-detail h2{
    font-size: 25px;
    color: #ff4f81;
    margin-top: 25px;
}
.start-detail p{
    font-size: 45px;
}

/* OFFER */
.offer-section{
    padding: 3rem 15px;
}
.offer-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.offer-title span{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
    color: black;
}
.offer-detail i{
    font-size: 35px;
    color: #ff4f81;
}
.offer-detail h3{
    font-size: 14px;
    color: #212121;
    margin: 25px 0 20px;
}
.offer-detail p{
    font-size: 14px;
    color: #6b6b6b;
}
.offer-detail{
    -webkit-box-shadow: 0 0 2px 1px #aaa;
    -moz-box-shadow: 0 0 2px 1px #aaa;
    -o-box-shadow: 0 0 2px 1px #aaa;
    box-shadow: 0 0 2px 1px #aaa;
    padding: 2rem 1rem;
    margin-bottom: 30px;
    transition: all .5s;
}
.offer-detail:hover{
    background-color: #12ccc3;
}

/* TESTIMONIAL */
.testimonials-section{
    padding: 3rem 15px;
    min-height: 400px;
    background-image: url('../images/banner3.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.testimonials-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.testimonials-title span{
    font-size: 17px;
    letter-spacing: 4px;
    color: white;
}
.testimonials-slider{
    background-color: rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 0px 2px 1px #8e8e8e;
    -moz-box-shadow: 0px 0px 2px 1px #8e8e8e;
    -o-box-shadow: 0px 0px 2px 1px #8e8e8e;
    box-shadow: 0px 0px 2px 1px #8e8e8e;
    padding: 30px;
}
.item__box{
    background-color: rgba(0,0,0,0.57);
    padding: 10px 20px;
    color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
}
.item__box::after{
    content: "";
    border-top: 9px solid rgba(0,0,0,0.57);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -9px;
    left: 27%;
}
.item__user{
    margin-left: 24%;
    color: white;
    margin-bottom: 25px;
}
.owl-carousel .item__user img{
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 10px;
}
.item__user p{
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: bold;
}
.item__user span{
    color: #ff4f81;
    font-size: 1em;
}
.owl-theme--pink .owl-dots .owl-dot span{
    background: #ff4f81;
    opacity: 0.5;
}
.owl-theme--pink .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #ff4f81;
    opacity: 1;
}
/* EVENT SECTION */
.event-section{
    padding: 3rem 15px;
}
.event-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.event-title span{
    font-size: 17px;
    letter-spacing: 4px;
    color: black;
}
.event-info h2{
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    transition: all .5s;
}
.event-info h2:hover{
    color: #ff4f81;
}
.event-info span{
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ff4f81;
}
.event-info p{
    color: #999;
    font-size: 0.9em;
    line-height: 1.8em;
}
.event-img img{
    border: solid #dedede;
}
/* .event-info, .event-img{
    margin-bottom: 50px;
} */
.event-section__spacing{
    height: 4rem;
    width: 100%;
}
/* FOOTER */
.footer-detail{
    background-color: #141415;
    padding: 3rem 15px;
}
.footer-detail h2{
    color: #ff4f81;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer-detail p{
    color: #8b8b96;
    font-size: 15px;
    margin-bottom: 10px;
}
.footer__news p i{
    color: #ff4f81;
    margin-right: 10px;
}
.footer__contact i{
    width: 30px;
    height: 30px;
    border: 1px solid #4b4b4b;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    color: white;
}
.footer__contact span{
    margin-left: 10px;
}
.footer__form h2{
    font-size: 1.5em;
    font-weight: 600;
}
 .footer__form input{
    height: 40px;
    width: 70%;
}
.btn-footer-submit{
    background-color: #ff4f81;
    border-radius: 0px;
    height: 40px;
    margin-top: -3px;
    cursor: pointer;
    transition: all .5s;
    width: 25%;
}
.btn-footer-submit:hover{
    background-color: #ec1955;
}
.copy-right{
    background-color: #0f0f10;
}
.copy-right span{
    color: #ff4f81;
}
/* MEDIA QUERY */
@media screen and (min-width: 768px) and (max-width: 991px){
    .navbar-brand--logo h1{
        font-size: 28px;    
    }
    .navbar-nav--menu .nav-item .nav-link{
        font-size: 0.9em;
    }
    .navbar-nav--menu .nav-item{
        margin-left: 10px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1210px){
    .footer__form h2{
        font-size: 1.1em;
    }
}
@media screen and (min-width: 769px) and (max-width: 894px){
    .carousel-caption--config h1{
        font-weight: normal;
        font-size: 2.5em;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 768px){
    .carousel-indicators--config{
        bottom: 10%;
    }
    .carousel-caption--config{
        bottom: 25%;
    }
    .carousel-caption--config h1{
        font-weight: normal;
        font-size: 2em;
        margin-bottom: 0px;
    }
    
    .carousel-caption--config p{
        font-size: 0.9em;
        letter-spacing: 3px;
        line-height: 1.5em;
        margin-bottom: 0px;
    }
    .btn--readmore{
        border-radius: 0px;
        margin-top: 10px;
        transition: all .5s;
    }
    .education-course h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 554px){
    .carousel-indicators--config{
        bottom: 0%;
    }
    .carousel-caption--config{
        bottom: 17%;
    }
    .carousel-caption--config h1{
        font-weight: normal;
        font-size: 1.5em;
        margin-bottom: 0px;
    }
    
    .carousel-caption--config p{
        font-size: 0.6em;
        letter-spacing: 2px;
        line-height: 1.3em;
        margin-bottom: 0px;
    }
    .btn--readmore{
        border-radius: 0px;
        margin-top: 10px;
        transition: all .5s;
    }
    /* EDUCATION */
    .welcome-title h1{
        font-size: 34px;
    }
    .welcome-title span{
        font-size: 14px;
        letter-spacing: 2px;
    }
    .welcome-title--line{
        width: 50px;
    }
    .welcome-title--line p{
        padding: 0 5%;
    }
    /* EVENT */
    .event-img{
        margin-bottom: 10px;
    }
    .event-section__spacing{
        height: 1rem;
    }
}

